name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      # .env의 변수명과 동일한 이름으로 시크릿을 설정했다고 가정하고 수정합니다.
      REACT_APP_FIRE_API_KEY: ${{ secrets.REACT_APP_FIRE_API_KEY }}
      REACT_APP_FIRE_AUTH_DOMAIN: ${{ secrets.REACT_APP_FIRE_AUTH_DOMAIN }}
      REACT_APP_FIRE_PROJECT_ID: ${{ secrets.REACT_APP_FIRE_PROJECT_ID }}
      REACT_APP_FIRE_STORAGE_BUCKET: ${{ secrets.REACT_APP_FIRE_STORAGE_BUCKET }}
      REACT_APP_FIRE_MESSAGING_SENDER_ID: ${{ secrets.REACT_APP_FIRE_MESSAGING_SENDER_ID }}
      REACT_APP_FIRE_APP_ID: ${{ secrets.REACT_APP_FIRE_APP_ID }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci
        # run: npm install

      - name: Build React App
        run: npm run build --if-present

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          projectId: ${{ secrets.FIREBASE_PROJECT_ID }}
          channelId: live
